@tailwind base;
@tailwind components;
@tailwind utilities;


.fonto{
  font-family: Montserrat; 
  font-weight: 700; 
  font-style: normal; 
  font-size: 11px; 
  color: rgb(93, 107, 143);
}

.font2{
  font-family: Montserrat;
}

.class1{
  background-color: rgba(255,255,255,0);;
}

.colors{
  background-color:"#7c3aed"
}